<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
table, th, td {
	border: 1px solid black;
	width: auto;
	height: auto;
}
</style>
</head>
<body>

	<br>
	<h1>주식 종목 표</h1>
	<br>
	<table class="stocktb">
		<tr>
			<th>종목코드</th>
			<th>종목명</th>
			<th>종목가</th>
			<th>추출시간</th>
		<tr>{% for row in rows %}
		<tr>
			<td>{{ row[0] }}</td>
			<td>{{ row[1] }}</td>
			<td>{{ row[2] }}</td>
			<td>{{ row[3] }}</td>
		</tr>
		{% endfor %}
	</table>


</body>
</html>